In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Task 1

Данн массив случайных целых чисел.
* Преобразуйте его в серию.
* Выведите отдельно массив с индексами и массив со значениями серии.
* Измените индексы на упорядоченное множество чисел начиная с 1. [1, 2, 3,...]
* Постройте гистограмму распрпеделения элементов серии.
* Определите, на сколько процентов отличается количество четных от нечетных Надо помнить, что булева фильтрация с `pd.Series` работает в точности также как и с `np.ndarray`.

In [ ]:
arr = np.random.randint(1, 40, 40)
ser = pd.Series()
# your code

<ipython-input-9-5391cab7bfbd>:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

# Task 2

Дан список имен и баллов за тест.
* Сгенерите из представленных данныъх серию, где в качестве индекса будет имя, а в качестве значения - балл. Присвойте серии имя test.
* Отсортируйте полученную серию по убыванию используя функцию `ser.sort_values(ascending=False)`
* Постройте `sns.barplot`

![image.png]()

In [ ]:
names = ['Ырыс', 'Василий', 'Мария', 'Павел', 'Улан', 'Айдар', 'Саид', 'Ирина', 'Ден', 'Айхан']
score = [95, 85, 30, 40, 50, 67, 21, 1, 2, 38]

# Task 3
Напишите функцию, на вход которой подается словарь и лист с желаемым расположением индексов. Функция возвращает серию.

С помощью данной функции остройте серию так, чтобы индексы были расположены в порядке: e, a, c, b, d

In [ ]:
your_dict = {'a': 1, 'b': 10, 'c': 21, 'd': 12, 'e': 31}

# Task 4

Даны два массива.
* Сформируйте из них словарь.
* Напишите функцию, которая получает на вход словарь и возвращает серию.
* Постройте серию `my_ser` из сформированного словаря применив написанную функцию.
* Добавьте в серию еще один индекс g. Индексу g присвойте значение 10.

In [ ]:
l_val = [2, 3, 4, 5, 3, 2]
l_keys = ['a', 'b', 'c', 'd', 'e', 'f']

my_dict...

In [ ]:
my_ser

a     2
b     3
c     4
d     5
e     3
f     2
g    10
dtype: int64

# Task 5

Проверьте, все ли значения серии заполнены?
* Напишите функцию, которая получает на вход серию и возвращает одно значение:
  1. True - если в серии пропусков нет
  2. False - если есть хотя бы один пропуск.
* Почистите серию от пропусков.

In [ ]:
ser_n = pd.Series([3, 4, 7, 3, 4, np.nan, 4, 3, 2])

# Task 6

Мы имеем несколько серий, где хранятся по дням недели количества посещений определенным пользователем сайта за день.

* Составте новую серию, которая содержит по дням суммарное число посещений за 3 недели.
* Составте новую серию, которая содержит по дням усредненное число посещений за 3 недели.
* Постройте барплот со средним количеством посещением пользователя по дням недели.
* Составте новую серию, которая содержит по дням максимальное количество посещений за 3 недели.

In [ ]:
index = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
week_1 = pd.Series([1, 12, 41, 1, 3, 6, 3], index=index)
week_2 = pd.Series([4, 7, 3, 5, 7, 21, 5], index=index)
week_3 = pd.Series([9, 2, 5, 15, 6, 10, 2], index=index)

# Task_7

Мы сгенерили две серии со стоимостями земельных участков и с площадями участков в сотках. Индексы содержат идентификаторы никальных участков. Таким образом, если мы знаем стоимость конкретного участка, то мы можем не знать его площадь.
* Получите серию со стоимостями одной сотки для каждого участка
* Получите список всех участков, по которым удалось вычислить стоимость земли за одну сотку.
* Почистите полученную серию от пропусков. Почему появились пропуски?
* Постройте Барплот по стоимостям за сотку для участков.

In [ ]:
ind_price = ['Object_' + str(i) for i in [1, 2, 4, 5, 7, 9, 10, 11, 12, 13]]
ind_squere = ['Object_' + str(i) for i in [1, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14]]
price = np.random.randint(20000, 100000, len(ind_price))
squere = np.random.randint(5, 12, len(ind_squere))

price = pd.Series(price, index = ind_price)
squere = pd.Series(squere, index = ind_squere)