# Task 1
Создайте функцию func1, которая будет принтить вам строку 'hello'

In [ ]:
def func1():
  ...

# Task 2
Создайте функцию func2, которая будет принимать два числа в качестве аргументов
и возвращать их сложение

In [ ]:
def func2():
  ...

# Task 3
Создайте функцию wallet, которая принимает два аргумента:

1) на что потрачены деньги

2) сколько потрачено

В итоге функция должна возвращать строку в виде

```'На *example_молоко* было потрачено *example_60* сом'```

# Task 4
Создайте функцию ```func4()```, которая на вход будет принимать одну строку, проверять ее и на выходе
возвращать строку, заменяя запятые на точки, пробелы на '' - пустые кавычки

In [ ]:
def func4():
  ...

# Task 5
Создайте две функции ```add``` и ```div```

первая функция должна принимать два числа и возвращать их сумму

вторая функция должна принимать в качестве первого аргумента результат сложения первой функции и
вторым аргументом число. Внутри себя вторая функция будет делить первый аргумент на второй и возвращать результат

Например:
```
add(4, 5) => 9
div(9, 3) => 3
```

# Task 6
Создайте функцию ```mult```, которая в аргументы принимает список чисел и возвращает произведение
чисел этого списка.

Например:
```print(mult([1, 2, 3, 4, 5])) => 120```

# Task 7
Создайте функцию ```str_check```, которая будет проверять есть ли в приходящей ей строке словосочетание
'data science', если да возвращать True, нет - False

# Task 8
Вам дан список
```
bd = ['Emil', 'Rena', 'Aliya', 'Hur']
```
создайте функцию ```check```, которая в качестве аргумента будет принимать имя и проверять есть ли это имя
в базе данных (bd), если да то возвращать 'yes', нет - 'no'

# Task 9
Создайте функцию ```func9()```, которая будет принимать 1 аргумент - число и возвращать два аргумента:
принимаемое число и квадрат этого числа

In [ ]:
def func9():
  ...

# Task 10
Дана база данных потенциальных кандидатов на место работы
```
users = [
  { 'name': 'Ron', 'age': 18, 'work': 'IT-backend developer'},
  { 'name': 'Sam', 'age': 23, 'work': 'Doctor'},
  { 'name': 'Bob', 'age': 26, 'work': 'Driver'},
  { 'name': 'John', 'age': 39, 'work': 'Teacher'},
  { 'name': 'Jack', 'age': 29, 'work': 'IT-frontend developer'}
]   
```
Напишите функцию ```employee```, которая будет смотреть на список users и возвращать имена только тех кандидатов,
которым больше 21 и они в сфере IT

# Task 11
Создайте функцию: ```arg_types()```, которая принимает два обязательных параметра.
Задача этой функции выводить тип принятых аргументов

# Task 12
Создайте функцию ```check_nan```, которая будет принимать обязательным аргументом список и проверять
есть ли в этом списке 'nan', если да, то удалять его и возвращать список без nan, если же список чист
то вернуть его в изначальном виде