# Task 1
Создайте список list_ с пятью элементами.
Затем присвойте третий элемент этого списка переменной list1

In [ ]:
list_ = [...]
list1 = ...

# Task 2
Дан список list2.

Oтсортируйте его в возрастающем порядке
и удалите элемент, который будет находится по середине.



```
input:
[5, 3, 1, -1, 10]
output:
>>> [-1, 1, 5, 10]
```

In [ ]:
list2 = [23, 34, 12, 7, 0, -4, -56, -100, 344, 98, 232]

# Task 3
Дан список list_ и переменная num со значением input().
Посчитайте, сколько раз элемент, который придет в num, встречается в списке.
Oтвет запишите в переменную list3.

In [ ]:
list_ = [1, 22, 3, 45, 22, 4, 89, 87, 87, 4]
num = ...
list3 = ...

# Task 4
Представьте себе, что у вас есть сад с фруктами. Соберите 5 фруктов из этого сада в корзину (список list4),
используя метод добавления в списки.
Затем замените третий(index = 2) элемент на другой фрукт через метод списка.

In [ ]:
list4 = ...

# Task 5
Создайте список list5 заполненныый числами от 0 до 19 включительно используя range() так, чтобы не было вложенностей.

In [ ]:
list5 = ...

# Task 6
Создайте два списка ls1, ls2 со случайным набором чисел. Объедините эти списки в один, азатем присвойте сумму всех чисел переменной list6.

In [ ]:
list6 = ...

# Task 7
Дан список lst7. Извлеките из него только те числа, которые больше 10. Ответ запишите в переменную list9. Вам понадобится функция filter(), про которую стоит прочитать в документации или в Google)



```
input:
[1, 2, 3, 10, 100, 12, 4]

output:
[100, 12]
```

In [ ]:
lst7 = [1, 22, 10, 45, 22, 4, 89, 87, 87, 4]
list9 = ...

# Task 8

Дана строка str_. Превратите ее в список разбив по пробелу.



```
str = 'Data science is good!'

>>> ['Data', 'science', 'is', 'good!']

```
Ответ запишите в переменную list10

In [ ]:
str_ = 'The second type of coordinate system is a projected coordinate system.'

list10 = ...