## Group By - doing aggregates in smaller groups

We often want to do subtotals, by group. Create a smaller dataset

`Syntax of DataFrame.groupby()`

*DataFrame.groupby(<br>
  by=None, <br>
  axis=0, <br>
  level=None, <br>
  as_index=True, <br>
  sort=True, <br>
  group_keys=True, <br>
  squeeze=<no_default>, <br>
  observed=False, <br>
  dropna=True)*<br>

`by` – List of column names to group by <br>
`axis` – Default to 0. It takes 0 or ‘index’, 1 or ‘columns’ <br>
`level` – Used with MultiIndex. <br>
`as_index` – sql style grouped otput. <br>
`sort` – Default to True. Specify whether to sort after group <br>
`group_keys` – add group keys or not <br>
`squeeze` – depricated in new versions <br>
`observed` – This only applies if any of the groupers are Categoricals. <br>
`dropna` – Default to False. Use True to drop None/Nan on sory keys <br>

In [ ]:
import pandas as pd

df = pd.DataFrame({
    "team": ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'C'],
    "region": ['AMERICAS', 'AMERICAS', 'EMEA', 'EMEA', 'AMERICAS', 'APJ', 'APJ', 'EMEA'],
    "student_height": [1.5, 2.2, 1.2, 1.1, 1.6, 1.7, 2.1, 1.2],
    "student_shoe_size": [6,5, 10, 9, 4, 7, 5, 7],
})
df

  team    region  student_height  student_shoe_size
0    A  AMERICAS             1.5                  6
1    A  AMERICAS             2.2                  5
2    A      EMEA             1.2                 10
3    A      EMEA             1.1                  9
4    B  AMERICAS             1.6                  4
5    B       APJ             1.7                  7
6    B       APJ             2.1                  5
7    C      EMEA             1.2                  7

In [ ]:
# pandas groupby()

df.groupby(['team','region']).count()

               student_height  student_shoe_size
team region
A    AMERICAS               2                  2
     EMEA                   2                  2
B    AMERICAS               1                  1
     APJ                    2                  2
C    EMEA                   1                  1

In [ ]:
# groupby() on Two or More Columns

df_group = df.groupby(['team', 'region']).mean()

In [ ]:
df_group

               student_height  student_shoe_size
team region
A    AMERICAS            1.85                5.5
     EMEA                1.15                9.5
B    AMERICAS            1.60                4.0
     APJ                 1.90                6.0
C    EMEA                1.20                7.0

In [ ]:
technologies   = ({
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas","Hadoop","Spark","Python","NA"],
    'Fee' :[22000,25000,23000,24000,26000,25000,25000,22000,1500],
    'Duration':['30days','50days','55days','40days','60days','35days','30days','50days','40days'],
    'Discount':[1000,2300,1000,1200,2500,None,1400,1600,0]
          })
technologies = pd.DataFrame(technologies)
technologies

   Courses    Fee Duration  Discount
0    Spark  22000   30days    1000.0
1  PySpark  25000   50days    2300.0
2   Hadoop  23000   55days    1000.0
3   Python  24000   40days    1200.0
4   Pandas  26000   60days    2500.0
5   Hadoop  25000   35days       NaN
6    Spark  25000   30days    1400.0
7   Python  22000   50days    1600.0
8       NA   1500   40days       0.0

In [ ]:
import numpy as np

In [ ]:
# Drop NA /None/Nan (on group key) from Result

In [ ]:
# Sort groupby() result by Group Key

In [ ]:
# Apply More Aggregations

# Groupby & multiple aggregations
#technologies.groupby('Courses')['Fee'].aggregate(['min','max'])
technologies.groupby('Courses').agg({'Fee': ['max', 'min', 'mean'], 'Discount': ['max', 'min', 'mean']}).to_excel('jshdfj.xlsx')

### ASIDE - how to sort values by columns ``region`` and ``student_height``. Try ascending and descending

In [ ]:
df = pd.DataFrame({
    "team": ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'C'],
    "region": ['AMERICAS', 'AMERICAS', 'EMEA', 'EMEA', 'AMERICAS', 'APJ', 'APJ', 'EMEA'],
    "student_height": [1.5, 2.2, 1.2, 1.1, 1.6, 1.7, 2.1, 1.2],
    "student_shoe_size": [6,5, 10, 9, 4, 7, 5, 7],
})
df

  team    region  student_height  student_shoe_size
0    A  AMERICAS             1.5                  6
1    A  AMERICAS             2.2                  5
2    A      EMEA             1.2                 10
3    A      EMEA             1.1                  9
4    B  AMERICAS             1.6                  4
5    B       APJ             1.7                  7
6    B       APJ             2.1                  5
7    C      EMEA             1.2                  7

### 1.1 How would we answer the following questions WITHOUT Group by:

- mean height by team
- mean shoe size by team

  team  height_mean  shoe_size_mean
0    A          1.5        7.500000
1    B          1.8        5.333333
2    C          1.2        7.000000

# Intro to Groupby!

### 2.1 But we don't have to, we have Groupby  

Let's see the equivalent:

```
groupby('field to group')['field to aggregate'].some_func
```

Let's group by `team`, and calculate mean

### 2.2 Let's group by `team`, and calculate median

### 2.3 Let's group by `team`, and calculate count

### 2.4 what if we pass more aggregate 2 values at the same time

### 2.5 What if we group 2 fields, and aggregate 2 fields

## 2.7 Putting it all together Filters & groupbys

This will be your regular activity, which is isolating and filtering for specific areas of data

In [ ]:
df = pd.DataFrame({
    "team": ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'C'],
    "region": ['AMERICAS', 'AMERICAS', 'EMEA', 'EMEA', 'AMERICAS', 'APJ', 'APJ', 'EMEA'],
    "student_height": [1.5, 2.2, 1.2, 1.1, 1.6, 1.7, 2.1, 1.2],
    "student_shoe_size": [6,5, 10, 9, 4, 7, 5, 7],
})

df

  team    region  student_height  student_shoe_size
0    A  AMERICAS             1.5                  6
1    A  AMERICAS             2.2                  5
2    A      EMEA             1.2                 10
3    A      EMEA             1.1                  9
4    B  AMERICAS             1.6                  4
5    B       APJ             1.7                  7
6    B       APJ             2.1                  5
7    C      EMEA             1.2                  7

### 2.8 Filter for people over 1.5 height + group by region, get mean height

### 2.9 Filter for people over 6 shoe size + group by region, get mean height

### 2.10 Filter for in team A + 6 shoe size + group by region, get mean height

# 3. Lab

### 3.1 Download the dataset from 'https://raw.githubusercontent.com/golden-ratio/My_DS_course/main/supermarket_sales.csv'

In [ ]:
!wget('https://raw.githubusercontent.com//golden-ratio//My_DS_course//main//supermarket_sales.csv')

/bin/bash: -c: line 0: syntax error near unexpected token `'https://raw.githubusercontent.com//golden-ratio//My_DS_course//main//supermarket_sales.csv''
/bin/bash: -c: line 0: `wget('https://raw.githubusercontent.com//golden-ratio//My_DS_course//main//supermarket_sales.csv')'

### 3.2 Load the dataset into a dataframe using read_csv from 'https://raw.githubusercontent.com/golden-ratio/My_DS_course/main/supermarket_sales.csv'

In [ ]:
dff = pd.read_csv('https://raw.githubusercontent.com/golden-ratio/My_DS_course/main/supermarket_sales.csv')
dff.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

#### 3.3 Find mean `TOTAL` by `CITY` and sort, using group by

#### 3.4 Find total `units_sold` by `CITY` and sort, using group by

#### 3.5 Find total `units_sold` by `CITY` & `CUSTOMER TYPE` and sort, using group by

#### 3.6 Find total `units_sold, total_sales` by `CUSTOMER TYPE` and sort, using group by

### Filtering and Grouping

#### 3.7 For `CITY == Yangon` group by `Customer type` and sum(`store_sales`)

#### 3.8  Find mean `TOTAL sales` and `UNITS_SOLD` for all invoices with Quantity > 5 and SALES > 500$. Group by `CITY`