# Task_1

Создайте два пустых листа, присвоив их в переменные list_1 и list_2 соответственно двумя разными способами. Выведите на печать типы этих переменных в указанном формате:



```
Type of list_1 is [type].
Type of list_2 is [type].
```

In [ ]:
list_1 = ...
list_2 = ...

# Task_2

Создайте любой список и выведите его на печать.

# Task_3

Создайте список целых чисел на множестве [1; 20] используя функцию range()

# Task_4

Создайте список ЧЕТНЫХ чисел на множестве [0; 20] используя функцию range().

# Task_5

Создайте список чисел на множестве [0; 13) в убывающем порядке от большего к меньшему.

# Task_6

Дана строка. Каждый элемент данной строки сделайте элементом списка.

In [ ]:
str_ = 'abcd1234'

# Task_7

Дан список популярных брендов ноутбуков. Создайте список, который будет содержать перечень данных брендов. Используйте функцию split().

In [ ]:
brand = 'Acer, HP, Lenovo, Asus, Honor, Apple, Toshiba, Samsung'
brand_list = ...

# Task_8

Напишите программу, которая запрашивает у пользователя ввод чисел через пробел. Создайте список из этих чисел. Ничего страшного, если эти числа будут иметь вид строки.

In [ ]:
num_str = ...
num_list = ...

1 2 3 4 5

[1, 2, 3, 4, 5]

# Task_9

Пользователь вводит список покупок через знак '_' чтобы разграничить названия товаров состоящие из нескольких слов. Сложите все эти наименования в список.

# Task_10

Дан список чисел. Используя индексацию выведите на отображение данные значения списка:



*   Первый элемент
*   Предпоследний элемент


*   Со второго по предпоследний
*   Со второго через один


*   Все числа в обратном порядке.
*   Все числа, кроме первого и последнего в обратном порядке.

In [ ]:
list_ = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# Task_11

Дан список чисел. Замените второе число на 100.

In [ ]:
list_ = [1, 2, 3, 4, 5, 6, 7, 8, 9]

[2, 3, 4, 5]

# Task_12

Дан список чисел. Замените два последние элемента на числа 12 и 13 одним действием.

In [ ]:
list_ = [1, 2, 3, 4, 5]

# Task_13

Дан список чисел. Выведите на отображение:



*   Максимальное значение

*   Минимальное значение
*   Сумму всех чисел


*   Длину списка



*   Среднее арифметическое всех чисел

In [ ]:
list_ = [1, 3, 5, 4, 7, 9, 8, 10, 1, 14, 19, 20]

7.5

In [ ]:
list_

[1, 1, 3, 4, 5, 7, 8, 9, 10, 14, 19]

# Task_14

Дан список брендов ноутбуков. Верните индекс элемента 'Honor'.

In [ ]:
brand = ['Acer', 'HP', 'Lenovo', 'Asus', 'Honor', 'Apple', 'Toshiba', 'Samsung']

In [ ]:
brand.index('Honor')

4

In [ ]:
brand[4]

'Honor'

# Task_15

Дан список брендов ноутбуков. Найдите среди элементов бренд 'Apple' и замените его на 'Irbis'.

In [ ]:
brand = ['Acer', 'HP', 'Lenovo', 'Asus', 'Honor', 'Apple', 'Toshiba', 'Samsung']

# Task_16

Дан список брендов ноутбуков а также список стоимостей ноутбуков данных брендов по соответствующим индексам. Выведите название бренда, у которого максимальная стоимость.

In [ ]:
brand = ['Acer', 'HP', 'Lenovo', 'Asus', 'Honor', 'Apple', 'Toshiba', 'Samsung']
price = [20000, 27000, 95000, 15000, 50000, 100000, 85000, 80000]

# Task_17

Пользователь вводит название продукта и его стоимость через '-' . Добавьте эти значения в соответствующие списки. Cоздайте списки в другой ячейке, чтобы повторное выполнение пользовательского ввода добавляло в списки новые данные.



```
product_name = []
price = []

input_ = input()
>>> 'Milk - 65'

product_name = ['Milk']
price = [65]
```

In [ ]:
product_name = []
price = []

In [ ]:
input_ = ...

# Task_18

Пользователь вводит два числа через пробел, которые являются границами множества. Создайте список всех целых чисел лежащих на этом множестве. Числа должны быть расположены от меньшего к большему, при том, что пользователь их может вводить в любом порядке.



```
input:
>>> 12 5

output:
[5, 6, 7, 8, 9, 10, 11, 12]
```

# Task_19

Психотерапевт дал пациенту задание вести ежедневный мониторинг своего настроения. Каждый день пациент в список добавляет:



*   1 - если настроение хорошее
*   0 - если настроение так себе..

Получился список. Посчитайте, сколько дней у пациента прошло с хорошим настроением, а сколько дней было с плохим.

Выполните задачу двумя способами))

In [ ]:
daily_list = [1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1]

# Task_20

Выполним анализ: какой процент наблюдаемых дней пациент провел в хорошем настроении. Используйте список из предыдущего таска.

# Task_21

Дан список с ежедневным курсом доллара по отношению к рублю. Отсортируйте данный список по возрастанию.

In [ ]:
dol_list = [70, 75, 80, 90, 90, 91, 90, 89, 100, 101, 95, 90, 89, 90, 91, 90, 90, 89, 92]

# if/else

# Task_22

И снова ноутбуки!) Нам дан список с самыми популярными брендами. Программа запрашивает у пользователя ввести какой-либо бренд. Если этот бренд встречается в списке, то программа пишет сообщение:

* "Данный бренд уже есть в списке"

Если же такого бренда нет, то программа добавляет его в список и затем выводит данный список на отображение.

Примечание:

Пользователь может вводить название и с маленькой буквы..

In [ ]:
brand = ['Acer', 'HP', 'Lenovo', 'Honor']

# Task_23

Пользователь вводит два числа через пробел, которые являются границами множества. Составте список всех чисел в включительных границах данного множества. Если второе число меньше первого, то множество будет убывающим.



```
input:
>>> 5 1

output:
[5, 4, 3, 2, 1]
```

Если пользователь ввел через пробел одинаковые числа, то список будет состоять из единственного такого числа.

# Task_24

Дан список брендов. Удалите из него элемент 'Honor'.

In [ ]:
brand = ['Acer', 'HP', 'Lenovo', 'Asus', 'Honor', 'Apple', 'Toshiba', 'Samsung']

# Task_25

Дан список чисел. Удалите из него максимальное.

In [ ]:
num_list = [1, 4, 2, 5, 3, 10, 2, 4]

# Task_26

Снова даны два списка с брендами ноутбуков и их стоимости. Организуйте пользовательский ввод данных. Пользователь вводит название бренда и стоимость через символ '-'. (Пользователь может вводить название бренда с маленькой буквы..)

*   Если указанный бренд отсутствует в списках, то добавте в конец каждого название и стоимость соответственно.

*   Если данный бренд уже есть в списках, то по указанному бренду обновите стоимость.
*   Если пользователь после знака '-' поставил '0', то удалите из списков данный бренд и его стоимость, если данный бренд присутствует.


*   Если пользователь после знака '-' поставил '0', и данный бренд в списках не представлен, то программа не делает ничего.

In [ ]:
brand = ['Acer', 'HP', 'Lenovo', 'Asus', 'Honor', 'Apple']
price = [20000, 27000, 95000, 15000, 50000, 90000]

In [ ]:
input_ = input()

# Task_27

Пользователь вводит числа с клавиатуры через пробел. Все введенные числа сохраняются в список. Рассчитайте медиану для данного списка.

# Task_28
В списке все элементы различны. Поменяйте местами минимальный и максимальный элемент этого списка.

In [ ]:
a = [2, 6, 8, 3, 6, 1, 7, 4]

# Task_29
Пользователь вводит три числа через пробел, которые являются баллами по трем предметам (от 0 до 100). Все введенные числа сохраняются в список. Напишите программу, которая считает среднее арифметическое от баллов студента, и если оно больше 85, выводится сообщение "Повышенная стипендия". если среднее арифметическое больше 60 и меньше 85, выводится сообщение "Обычная стипендия". если среднее арифметическое ниже 60, выводится сообщение "Нет стипендии"

# Task_30
Дан список имен в виде строки. Необходимо создать список, содержащий эти имена. Пользователь вводит новое имя, и программа проверяет, есть ли имя в списке. если имя в списке уже есть, программа удаляет его из списка. Если такого имени в списке нет, программа добавляет новое имя в список.

In [ ]:
names_str = 'Айдана Жылдыз Бакыт Чолпон Мадина Жаныбек Алиса'

In [ ]:
names_list