In [ ]:
# Read SQL from Data base

import pandas as pd
from sqlalchemy import create_engine

# Postgres username, password, and database name
POSTGRES_ADDRESS = '88.212.254.23' ## INSERT YOUR DB ADDRESS
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'user9' ## CHANGE THIS TO YOUR POSTGRES USERNAME
POSTGRES_PASSWORD = 'Y7aMlL1x' ## CHANGE THIS TO YOUR POSTGRES PASSWORD
POSTGRES_DBNAME = 'bw' ## CHANGE THIS TO YOUR DATABASE NAME

# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
.format(username=POSTGRES_USERNAME,
password=POSTGRES_PASSWORD,
ipaddress=POSTGRES_ADDRESS,
port=POSTGRES_PORT,
dbname=POSTGRES_DBNAME))

# Create the connection
cnx = create_engine(postgres_str)

### SELECT FROM

In [ ]:
# EN: Print the numbers of all customers of the store
# RU: Выведите номера всех клиентов магазина

# Use 'school.customers' table and schema public


sql_select1 = """
  YOUR QUERY
"""

df_s1 = pd.read_sql_query(sql_select1, con=cnx)

df_s1.head()

AttributeError: ignored

### WHERE

In [ ]:
# Get all customers from Los Angeles. Use 'school.customers' table and schema public


sql_0 = """

"""

In [ ]:
# Get a number of  customers from California. Use 'school.customers' table and schema public


sql_1 = """
  YOUR QUERY
"""

In [ ]:
# EN: How many orders did customer TM-21010 place in total?
# When did he make his first order? *

# RU: Сколько всего заказов совершил клиент TM-21010? Когда он совершил свой первый заказ? *



sql_2 = """
  YOUR QUERY
"""

### Group by

In [ ]:
# EN: How many customers in the database have made just one order?
# RU: Сколько всего в базе клиентов, совершивших всего всего один заказ? *

sql_3 = """
  YOUR QUERY
"""

  customer_id  cnt
0    AR-10570    1
1    RE-19405    1
2    JR-15700    1
3    AO-10810    1
4    RM-19750    1

In [ ]:
df3.shape

(12, 2)

In [ ]:
# EN: What is the average check for clients from the Corporate segment?
# (Average check = amount of revenue (sales) divided by the number of orders)

# RU: Какой средний чек у клиентов из сегмента Corporate?
# (Средний чек = сумма выручки (sales), деленная на количество заказов) *

sql_4 = """
  YOUR QUERY
"""

          avg
0  466.411075